RECORD_PATH='history.db'
SRC_PATH='/home/user/Downloads/'
DEST_PATH='GoogleDrive:temp/'
TMP_PATH='/tmp/yuki'
ALLOWED_EXTENSION_LIST=['.mkv','.avi']
FILE_TRANSFER_TOOL = "rsync" # rsync or rclone
DEBUG_MODE="false" # default is false
MAX_ACTIVE_INSTANCE=4 # Default active script is 10. Only works in Linux